html {

  box-sizing : border-box ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

 }


*, *::before, *::after {
    box-sizing: inherit;
}
nav {
    background-color: plum;
    margin: 0 auto 5px;
    width: 1100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 1px;
}

nav a {
    padding: 20px;
    color: white;
    text-decoration: none;

}
nav a:link,
nav a:visited {
    color: white;
}


nav a:hover,
nav a:active {
    background-color: #e89dc1;
    color: #50504f;
    text-decoration: underline;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    width: 1100px;
    height: 680px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    line-height: 50%;
}

.div1 p {
    font-size: 1.5rem;
}

.div1 {
    grid-area: 1 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #919898;
}

.div2 {
    grid-area: 1 / 4 / 3 / 6;
    background-color: cornflowerblue;
}

.div3 {
    grid-area: 1 / 6 / 2 / 8;
    background-color: darkcyan;
}

.div4 {
    grid-area: 2 / 6 / 3 / 8;
    background-color: mediumseagreen;
}

.div5 {
    grid-area: 3 / 1 / 5 / 4;
    background-color: salmon;
}

.div6 {
    grid-area: 3 / 4 / 4 / 5;
    background-color: goldenrod;
}

.div7 {
    grid-area: 3 / 5 / 4 / 6;
    background-color: tomato;
}

.div8 {
    grid-area: 4 / 4 / 5 / 6;
    background-color: orchid;
}

.div9 {
    grid-area: 3 / 6 / 5 / 8;
    background-color: slateblue;
}
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}