html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #957C62; 
}

h1, h2, h3 {
  color: rgb(140, 72, 23); 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline dotted rgba(219, 162, 50, .8) 6px;
  text-underline-offset: 12px;
}

h1 {
  font-size: 2.25rem;
  opacity: 0%;
}
.fade-text {
  animation: fadeTxt 3s ease 1s forwards;
}

@keyframes fadeTxt {
    0% {
       opacity: 0;
       }
    50% {
       font-size: 2.75rem; 
      }

 100% { opacity: 1;
   font-size: 3.25rem; }
}



h2 {
  font-size: 1.8rem;
  text-decoration: none;
}


h2::before,
h2::after {
  content: "\1F342";
}

h3 {
  font-size: 1.5rem;
}
nav {
  float: right;
  position: sticky;
  top: 0;
   background-color:rgb(226, 181, 154);
  width: 240px;
}

nav ul {
  padding: 0;
}

nav li {
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace; 
  font-weight: 600;
  letter-spacing: 1px;
  list-style-type: none;
}

nav,
header {
  text-align: center;
}

nav a,
.assignments a,
footer a {
  text-decoration: none;
  color: rgb(140, 72, 23);
}

nav a:link,
nav a:visited {
  line-height: 1.5;
}

nav a:hover,
nav a:active {
  text-decoration: underline wavy rgba(219, 162, 50, .8) 2px; 
  text-underline-offset: 6px;
  color: rgb(255, 225, 175);
}

nav a:hover::before {
  content: "\1F342";
}

header p {
  font-size: 80%;
}

.fade-img {
  opacity: 0;
  animation: fadeImg 6s ease forwards;
  display: block;
  width: 65%;
  margin: 20px auto;
}

@keyframes fadeImg {
  0% { 
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    border-radius: 50%;
    border: 6px solid rgb(226, 181, 154);
  }
}

main,
header {
  width:60% ;
  margin: 0 auto;
  line-height: 1.4;
}


.assignments li {
  list-style-type: none;
}

.assignments li::before {
  content: "\1F342";
  font-size: 1.6rem;
}

.assignments a:link,
.assignments a:visited {
  line-height: 1.6;
}

.assignments a:hover,
.assignments a:active {
  text-decoration: underline double rgb(226, 181, 154) 2px;
  text-underline-offset: 4px;
}

footer {
  color: rgb(226, 181, 154);
  line-height: 1.2;
  font-weight: 200;
  position: relative;
  
  border-top: 2px solid rgb(226, 181, 154); 
  
}

small{
  float: right;
  padding: 20px 0 40px 0;
}
